html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      border: 0;
      display: block;  /* No floating content on sides */
}

canvas { 
  width: 100%;
  height: 100%;
}

#overlay
{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

#fullScreen
{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#cameraContainer0 {
  float: left; 
  width: 50%;
  height: 50%;
}
#cameraContainer1 {
  float: left; 
  width: 50%;
  height: 50%;
}
#cameraContainer2 {
  float: left; 
  width: 50%;
  height: 50%;
}
#cameraContainer3 {
  float: left; 
  width: 50%;
  height: 50%;
}
